h1{
    font-size: 2.5em;
    color: rgb(185, 43, 67);
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px black;
}
body {
    background-color: #dd529f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
img {
    display: block;
    margin: 0 auto;
    height: 40vh;
    border-radius: 15px;
}
button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    margin-top: 30px;
    transform: translate(-50%,-50%);
    transition: all;
    position: absolute;
}
#prvo
{
    background-color: rgb(16, 90, 1);
    left: 45%;
    top: 60%;
}
#drugo{
    
    background-color: rgb(185, 43, 67);
    left: 60%;
    top: 60%;
}